@model EFOrderTask.Models.Item

@{
    ViewData["Title"] = "CreateItem";
}

<h1>CreateItem</h1>

@*<h4>Item</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item_Name" class="control-label"></label>
                <input asp-for="Item_Name" class="form-control" />
                <span asp-validation-for="Item_Name" class="text-danger"></span>
            </div>
           
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RegisteredItems">Back to Item List</a> || <a asp-action="Index">Go To Item Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
